<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
    <div class="row">
        <div *ngFor="let i of boardArray" class="col-md-1 boardBox" style="border:1px solid #ccc">
            <h2>{{i.number}}</h2>
            <span style="color:red" *ngIf="i.snake.flag ===true">snake({{i.snake.destination}})</span>

            <span style="color:blue" *ngIf="i.ladder.flag ===true">Ladder({{i.ladder.destination}})</span>

            <span style="width: 15px; height: 15px; margin:auto; display: inline-block; border: 1px solid gray; vertical-align: middle; border-radius: 2px; background: #FF0000 " *ngIf="playerMarker1 == i.number"></span>
            <span style="width: 15px; height: 15px; margin:auto; display: inline-block; border: 1px solid gray; vertical-align: middle; border-radius: 2px; background:greenyellow " *ngIf="playerMarker2 == i.number"></span>
        </div>

    </div>

    <button class="btn btn-success" (click)="rollDice();">Roll Dice</button>
    <p>{{diceNumber}}</p>

    <!--  <button (click)="getRandomInt(1,100)">get random number</button> -->
</div>

<div class="">
    <div class="radio">

        <label>
             <input (click) = "selectPlayer(1)"   type="radio" name="player" value="player1" class="form-control">
            Player 1
        </label>
    </div>
    <div class="radio">

        <label> 
            <input (click) = "selectPlayer(2)" type="radio" name="player"  value="player2" class="form-control">
            Player 2
        </label>
    </div>
</div>